.navbar1{
    background-color:hsl(0, 0%, 14%);
    color: azure;

}
.navParado{
    background-color:hsl(0, 0%, 11%);
}
body{
    background-color: black;
    color: azure;
}
.BVer-Center{
	text-align: center;
}
h2{
    color:azure;
}
.Titulo_Pagina{
    text-align: center;
}
.botonNEXT-SIGUIENTE{
    font-size: 2em;
}